/** Slider of dark-mode **/
.switch {
    position: relative;
    width: 60px;
    height: 34px;
    margin-right: 15px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/*cilindro desativado*/
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(49, 51, 71);
    border-radius: 34px;
    -webkit-transition: .4s;
    transition: .4s;
}

/*cilindro ativado*/
input:checked+.slider {
    background-color: white;
}

/*circulo*/
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    /*background-color: rgb(49, 51, 71);*/
    border-radius: 50px;
    transition: .9s;
}

input:checked+.slider:before {
    transform: translateX(21px);
    background-color: rgb(49, 51, 71);
}